<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_GatewayService" />
            </basicHttpBinding>
        </bindings>
        <client>

          <!--<endpoint address="http://localhost:63083/" binding="basicHttpBinding"-->
          <endpoint address="http://outside/" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_GatewayService" contract="Outside.GatewayService"
                name="BasicHttpBinding_GatewayService" />
        </client>
    </system.serviceModel>
</configuration>